
body{
    margin:0;
    font-family:Arias, san-seriff;
    font-size: 20px;
    color:black;
    background-color:white;
    padding:20px;
    text-align:center;
    line-height:1.6;
   }
   .loading-text-words-space {
width: 0.5em;
   }
  .loading-container {
   display: flex;
   }

  .loading-text-words {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  animation: fade-in 1s forwards;
  color: #000000;
  }
  
.loading-text-words:nth-child(1) {
animation-delay: 0s;
}
.loading-text-words:nth-child(2) {
animation-delay: 0.2s;
}
.loading-text-words:nth-child(3) {
animation-delay: 0.4s;
}
.loading-text-words:nth-child(4) {
animation-delay: 0.6s;
}
.loading-text-words:nth-child(5) {
animation-delay: 0.8s;
}
.loading-text-words:nth-child(6) {
animation-delay: 1s;
}
.loading-text-words:nth-child(7) {
animation-delay: 1.2s;
}
.loading-text-words:nth-child(8) {
animation-delay: 1.4s;
}
.loading-text-words:nth-child(9) {
animation-delay: 1.6s;
}
.loading-text-words:nth-child(10) {
animation-delay: 1.8s;
}
.loading-text-words:nth-child(11) {
animation-delay: 2s;
}
.loading-text-words:nth-child(12) {
animation-delay: 2.2s;
}
.loading-text-words:nth-child(13) {
animation-delay: 2.4s;
}
.loading-text-words:nth-child(14) {
animation-delay: 2.6s;
}
.loading-text-words:nth-child(15) {
animation-delay: 2.8s;
}
.loading-text-words:nth-child(16) {
animation-delay: 3s;
}
.loading-text-words:nth-child(17) {
animation-delay: 3.2s;
}
.loading-text-words:nth-child(18) {
animation-delay: 3.4s;
}
.loading-text-words:nth-child(19) {
animation-delay: 3.6s;
}
.loading-text-words:nth-child(20) {
animation-delay: 3.8s;
}
.loading-text-words:nth-child(21) {
animation-delay: 4s;
}
.loading-text-words:nth-child(22) {
animation-delay: 4.2s;
}
.loading-text-words:nth-child(23) {
animation-delay: 4.4s;
}
.loading-text-words:nth-child(24) {
animation-delay: 4.6s;
}
.loading-text-words:nth-child(25) {
animation-delay: 4.8s;
}
.loading-text-words:nth-child(26) {
animation-delay: 5s;
}
.loading-text-words:nth-child(27) {
animation-delay: 5.2s;
}
@keyframes fade-in {
to {
    opacity: 1;
}
}
  h1{
    font-weight:bold;
    color:blue;
    text-transform:uppercase;
    letter-spacing:1px;
    text-shadow:2px 2px 5px gray;
    line-height:1;
   }
  #f{
    text-align:left;
    color:blue;
    font-size: 15px;
   }
  .s{
  font-size: 50px;
}
 #o{
  font-weight:bold;
  color:blue;
  font-size:15px;
}
 h5{
  color:blue;
  font-size: 25px;
  font-style: normal;
}
.im {
  
  margin: 0;
}
.d {
 font-family: Arial, sans-serif;
 font-style: normal;
 font-size: 17px; 
 color: #0d0101;
 text-align: left;
}
.y{
 display: flex;
 align-items: flex-start; 
 gap: 20px; 
 font-style: normal;
 border: 2px solid #d914af; 
 border-radius: 5px; 
 overflow: hidden;
}
#a{
 font-style: normal;
}
.video {
  width: 400px;
  height: 700px;
  border: 5px solid black;
}
.j{
 font-family: Arial, sans-serif;
 font-style: normal;
 font-size: 20px; 
 color: #0d0101;
}
.container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  font-style: normal;
}
hr {
  width: 100%;
  border: 1px solid #000; 
}
.t{
  max-width: 1200px; 
  line-height: 1.6; 
  text-align: left;
}
.question {
  font-size: 50px; 
}
